@charset "utf-8";

@font-face {
    font-family: 'Romic';
    src: url('/fonts/Romic-Bold.ttf') format('ttf'),url('/fonts/Romic-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}